<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.microserviceasdk.mapper.AppServerStatusMapper">
       
  
  <select id="selectAllAppServerName"
            parameterType="map"
            resultType="com.example.microserviceasdk.pojo.AppServerStatus">
           
     SELECT appserver as appServer from appserver_status
        
 </select>
  
    
</mapper>